@import "./custom_colors";

body {
  background-color: white;
}

#notes {
  height: calc(100% - 70px);
  margin: 0;
}

.bm-menu {
  background: white;
  padding-top: 10px;
}

.list-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  border: rgba(255, 255, 255, 0);
  margin-top: 10px;
  padding-bottom: 5px;
}

.columns {
  width: 100%;
}

.trash-icon {
  cursor: pointer; // muda para a mãozinha
}

.active {
  background-color: $custom-grey-light;
}

.notes-editor{
  padding: 0;
  height: calc(100%-43px);
  .quill{
    height: 100%;
  }
}